
/*font: italic small-caps bold 12px/30px Georgia, serif;*/

body {
    font: 18px/1.5 Roboto, serif;
    background-color: #08020d;
    color: #cacaca;
}

@media (max-width: 1400px) {
    h1 {
        font-size: 60px;
        line-height: 90px;
        font-weight: bold;
        text-transform: uppercase;
    }
    h2 {
        font-size: 38px;
        line-height: 57px;
        font-weight: bold;
        text-transform: uppercase;
    }
}

@media (max-width: 770px) {
    h1 {
        font-size: 30px;
        line-height: 45px;
        font-weight: bold;
        text-transform: uppercase;
    }
    h2 {
        font-size: 18px;
        line-height: 27px;
        font-weight: bold;
        text-transform: uppercase;
    }
}
